





<div class="row" >
<div  class="col-lg-6 grid-margin stretch-card">
  <div  class="card">
    <div  class="card-body">
      <h4  class="card-title">Network list</h4>
      <h5 *ngIf="!show" >Create a network from homepage</h5>
      <div *ngIf="show" class="table-responsive">
        <table  class="table">
          <thead >
            <tr >
              <th >Name</th>
              <th>Cloud Provider</th>
              <th >Created</th>
              <th >Hyperledger Explorer</th>
              <th >Status</th>
              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of networks; index as i;">
              <td >{{item.name}}</td>
              <td >{{item.cloudProvider}}</td>
              <td >{{item.createdAt | date:'medium'}}</td>
              <td *ngIf = "item.explorerIP !== null "><a href={{item.explorerIP}} target="_blank">Explorer Link</a>
              </td>
              <td *ngIf = "item.explorerIP === null "> Not Active</td>
              <td ><label  [ngClass]="{'badge-warning': item.status == 0,'badge-success': item.status == 1, 'badge badge-danger': item.status == 2 }" >{{status[item.status]}}</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div  *ngIf="show" class="col-lg-3 grid-margin stretch-card">
  <div  class="card">
    <div  class="card-body">
      <h4  class="card-title">Hyperledger Explorer Details</h4>
    <p>Username: exploreradmin</p>
    <p>Password: exploreradminpw</p>
</div>
</div>
</div>
</div>