fabric:
  cas:
  - "ca1.service.payment.net"
  peers:
  - "peer1.service.payment.net"
  orderers:
  - "orderer1.payment.net"
  settings:
    ca:
      FABRIC_LOGGING_SPEC: DEBUG
    peer:
      FABRIC_LOGGING_SPEC: DEBUG
    orderer:
      FABRIC_LOGGING_SPEC: DEBUG
  endpoint_address: {{external_ip.stdout}}
  netname: {{aks_name}}